@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap;
  src: url('../assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300; /* Light */
  font-display: swap;
  src: url('../assets/fonts/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500; /* Medium */
  font-display: swap;
  src: url('../assets/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600; /* SemiBold */
  font-display: swap;
  src: url('../assets/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700; /* Bold */
  font-display: swap;
  src: url('../assets/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}

:root {
    --color-primary: #080808;
    --color-secondary: #101010;
    --color-tertiary: #292929;
    --color-quaternary: #545454;
    --color-quinary: #a9a9a9;
    --color-light: #d4d4d4;
}

* {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
}

body {
    min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}