---
import SectionPresentacion from "../components/SectionPresentacion.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="DenuDev - Portafolio">
    <SectionPresentacion />
    <section class="p-5">
        
    </section>
</Layout>
