---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DenuDev - Portafolio">
    <section>
        <div>
            <h1>Diego Andre Araca Alvarez</h1>
            <h4>aracaalvarezd@gmail.com</h4>
            <p>Desarrollador de Software especializado en la parte FontEnd.</p>
        </div>
        <div>
            <img src="/public/imagen-perfil.webp" alt="">
        </div>
    </section>
</Layout>