---

---

<header
    class="hidden items-center justify-end p-2 text-white text-sm w-full max-w-6xl top-0"
>
    <nav>
        <ul class="flex gap-3 flex-row font-spaceGrotesk">
            <li>
                <a href="#inicio">INICIO</a>
            </li>
            <li>
                <a href="#experiencias">EXERIENCIAS</a>
            </li>
        </ul>
    </nav>
</header>
