---
import Javascript from "../assets/icons/Javascript.astro";
import Html from "../assets/icons/Html.astro";
import Css from "../assets/icons/Css.astro";
import GitHub from "../assets/icons/GitHub.astro";
import Git from "../assets/icons/Git.astro";
import Tailwind from "../assets/icons/Tailwind.astro";
import Netlify from "../assets/icons/Netlify.astro";
import Typescript from "../assets/icons/Typescript.astro";
import Docker from "../assets/icons/Docker.astro";
import VisualStudio from "../assets/icons/VisualStudio.astro";
import AstroIcon from "../assets/icons/AstroIcon.astro";
import NodeJs from "../assets/icons/NodeJs.astro";
import Java from "../assets/icons/Java.astro";
import Thymeleaf from "../assets/icons/Thymeleaf.astro";
import SpringBoot from "../assets/icons/SpringBoot.astro";
---

<section class="p-5 flex flex-col gap-5">
    <h3
        class="text-xs sm:text-base lg:text-xl underline underline-offset-4 font-spaceGrotesk"
    >
        Tecnologias que uso &rarr;
    </h3>
    <div>
        <ul class="flex flex-wrap justify-center gap-3 sm:justify-start">
            <li class="bg-[#e34c26] p-2 rounded-md hover:animate-wiggle">
                <Html className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#2a4dcd] p-2 rounded-md hover:animate-wiggle">
                <Css className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#f0db4f] p-2 rounded-md hover:animate-wiggle">
                <Javascript className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#1d202d] p-2 rounded-md hover:animate-wiggle">
                <GitHub className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#f34f29] p-2 rounded-md hover:animate-wiggle">
                <Git className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#3490dc] p-2 rounded-md hover:animate-wiggle">
                <Tailwind className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#3490dc] p-2 rounded-md hover:animate-wiggle">
                <Netlify className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#007acc] p-2 rounded-md hover:animate-wiggle">
                <Typescript className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#0db7ed] p-2 rounded-md hover:animate-wiggle">
                <Docker className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#0078d7] p-2 rounded-md hover:animate-wiggle">
                <VisualStudio className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-astroGradient p-2 rounded-md hover:animate-wiggle">
                <AstroIcon className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#3c873a] p-2 rounded-md hover:animate-wiggle">
                <NodeJs className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#F44336] p-2 rounded-md hover:animate-wiggle">
                <Java className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#6db33f] p-2 rounded-md hover:animate-wiggle">
                <Thymeleaf className="sm:w-10 sm:h-10" />
            </li>
            <li class="bg-[#335e17] p-2 rounded-md hover:animate-wiggle">
                <SpringBoot className="sm:w-10 sm:h-10" />
            </li>
        </ul>
    </div>
</section>
