---
import "../styles/global.css";
const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
    <Head title={title} />
    <body class="grid bg-per-secundary justify-items-center text-white relative">
        <Header />
        <main class="w-full max-w-6xl">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    body {
        grid-template-rows: auto 1fr auto;
    }

    main{
        min-height: 100dvh;
    }
</style>
